/* SELECTOR DE ETIQUETA */
a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 10px 5px 0px;
  text-decoration: none;
  color: green;
}

/* SELECTOR DE ATTRIBUTO */
a[target] {
  background-color: gray;
  color: white;
}
/* SELECTOR DE ATRIBUTO CON VALOR ESPECÍFICO */
a[target="_Self"] {
  color: yellow;
  background-color: salmon;
}

img {
  width: 200px;
}

/* SELECTOR POR MEDIO DE UNA PALABRA DE UN ATTRIBUTO */
[alt~="science"] {
  border: 5px solid red;
}

[alt|="anime"] {
  border: 5px solid blue;
}

/* Busca al inicio una coincidencia */
[class^="ti"] {
  font-size: 10px;
}

[class$="afo"] {
  font-size: 20px;
  color: blue;
}
/*
  Busca en cualquier parte del atributo
  [class*="div"] {
*/
[class*="di"] {
  font-size: 30px;
  color: #09f;
  background-color: rebeccapurple;
}
